<p>document-node works!</p>

<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>

<!--Menu-->
<mat-menu #menu="matMenu">
  <button mat-menu-item color="warn" (click)="clearAllFields()">
    <mat-icon>clear</mat-icon>
    <span>Clear all fields</span>
  </button>
  <button mat-menu-item color="warn" (click)="deleteDocument()">
    <mat-icon>delete</mat-icon>
    <span>Delete Document</span>
  </button>
</mat-menu>

<pre>
    {{ data$ | async | json }}
</pre>
