<div style="flex: 1 1" class="node-segment">
  <div class="header">
    <!--ROOT-->
    <ng-container *ngIf="isRoot">
      <mat-icon svgIcon="firestore" matTooltip="Root"></mat-icon> Root
    </ng-container>

    <!--DOCUMENT-->
    <ng-container *ngIf="isDocument">
      <mat-icon matTooltip="Document"> description </mat-icon>
      {{ node?.ref?.id }}
    </ng-container>

    <!--COLLECTION-->
    <ng-container *ngIf="isCollection">
      <mat-icon matTooltip="Collection">category</mat-icon>
      {{ node?.ref?.id }}
    </ng-container>

    <div style="float: right; align-self: end">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

    <!--Menu-->
    <mat-menu #menu="matMenu">
      <button mat-menu-item color="warn" (click)="deleteCollection()">
        <mat-icon>delete</mat-icon>
        <span>Delete Collection</span>
      </button>
    </mat-menu>
  </div>

  <!--Node Children (Documents or Collections)-->
  <div class="children">
    <div class="add">
      <button
        mat-button
        (click)="
          modifyDatabase(isDocument || isRoot ? 'addCollection' : 'addDocument')
        "
        color="primary"
      >
        <mat-icon>add</mat-icon>
        {{ isDocument || isRoot ? "Start Collection" : "Add Document" }}
      </button>
    </div>

    <mat-list>
      <ng-container *ngFor="let child of node?.children">
        <mat-selection-list [multiple]="false" (click)="goTo(child)">
          <mat-list-option
            checkboxPosition="before"
            [value]="child.path"
            [selected]="matchesCurrentPath(child.path)"
          >
            {{ child.id }}
          </mat-list-option>
        </mat-selection-list>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </div>

  <div class="add-field" *ngIf="isDocument && !isRoot">
    <button mat-button (click)="modifyDatabase('addFields')" color="primary">
      <mat-icon>add</mat-icon> Add Field
    </button>
  </div>

  <app-document-node
    *ngIf="isDocument && !isRoot"
    [node]="node"
  ></app-document-node>
</div>

<!--Add Collection/Document/Fields-->
<ng-template #modifyDatabaseTemplate>
  <h3 *ngIf="intent !== 'addFields'">
    <ng-container *ngIf="isDocument">Start a collection</ng-container>
    <ng-container *ngIf="isCollection">Add a document</ng-container>
  </h3>

  <app-modify-database [node]="node" [ref]="ref" [intent]="intent" />
</ng-template>
