<form style="min-height: 60vh; padding-top: 8px" [formGroup]="group">
  <ng-container *ngIf="intent !== 'addFields'">
    <div
      class="collection-id"
      *ngIf="node?.isRoot || node?.isDocument"
      style="display: flex"
    >
      <mat-form-field style="flex: 1 1">
        <mat-label>Collection ID</mat-label>
        <input
          matInput
          type="search"
          [formControl]="group.controls.collectionId"
        />
      </mat-form-field>
    </div>

    <div class="parent-path">
      <h4 style="opacity: 0.5">
        Parent path
        <small>
          {{ node?.ref?.path }}
        </small>
      </h4>
    </div>
  </ng-container>

  <div class="document-id" style="display: flex" *ngIf="intent !== 'addFields'">
    <mat-form-field style="flex: 1 1">
      <mat-label>Document ID</mat-label>
      <input matInput type="search" [formControl]="group.controls.documentId" />
    </mat-form-field>
  </div>

  <div style="padding-top: 8px">
    <!--Form Array-->
    <div formArrayName="fields">
      <div
        *ngFor="let field of group.controls.fields.controls; let i = index"
        [formGroupName]="i"
        style="display: flex; align-items: center; gap: 2px"
      >
        <app-field-node [parent]="group" [field]="field" [index]="i" />
      </div>
    </div>

    <button mat-button (click)="addField()">
      <mat-icon>add_circle_outline</mat-icon>
      Add Field
    </button>
  </div>

  <button
    mat-raised-button
    color="primary"
    (click)="save()"
    style="float: right; align-self: flex-end; margin-right: 8px"
    [disabled]="group.invalid"
    type="button"
  >
    Save
  </button>
  <button
    mat-button
    (click)="close()"
    style="float: right; align-self: flex-end"
    type="button"
  >
    Cancel
  </button>
</form>
